.custom-header {
  background-color: rgba(0, 0, 0, 0.2); /* Dark and slightly transparent */
  padding: 10px 50px; /* Reduced padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow for a sleeker look */
}

.nav-links {
  display: flex;
  align-items: center;
}

.custom-nav-link {
  font-weight: 500;
  color: white;
  margin: 0 10px; /* Reduced margin between nav links */
  text-transform: uppercase;
  font-size: 0.9rem; /* Slightly smaller text size */
}

.custom-nav-link:hover {
  color: white;
  text-decoration: none;
}

.login-btn {
  border: 2px solid white;
  padding: 4px 15px; /* Slightly reduced padding */
  color: white;
  font-weight: 500;
  font-size: 0.9rem; /* Slightly smaller text size */
}

.signup-btn {
  background-color: #28a745;
  border: none;
  padding: 4px 15px; /* Slightly reduced padding */
  color: white;
  margin-left: 15px; /* Reduced space between Login and Sign up */
  font-weight: 500;
  font-size: 0.9rem; /* Slightly smaller text size */
}

.signup-btn:hover {
  background-color: #218838;
}

/* Ensures content behind the header is visible and doesn't overlap */
.hero-section {
  margin-top: 80px; /* Adjusted for reduced header size */
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .custom-header {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }
  .nav-links {
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: flex-start; /* Align links to the start */
  }
  .nav-links .custom-nav-link {
    margin: 5px 0; /* Reduced margin for vertical spacing */
  }
}
